nav{
    color: gray
}
nav *{
    transition: transform 0.2s ease;
    cursor: pointer;
    color: gray;
    text-decoration: none;
}
nav *:hover{
    transform: scale(1.2);
    color: darkgray;
    text-decoration: underline;
}
nav .active{
    position: relative;
    color: var(--color);
    transform: scale(1);
    text-decoration: none;
    cursor: default;
}