@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: black;
    color: azure;
    font-family: montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-inline: 20px;
}

header{
    display: grid;
    grid-template-columns: 1fr 20ch;
    width: 100%;
    padding-bottom: 3rch;
}

header > nav{
    display: flex;
    column-gap: 1.2ch;
    align-items: center;
    font-size: 1.2rem;
}
header > nav > * {
    color: darkgray;
    text-decoration: none;
    animation: wiggle 30s ease infinite;
    animation-delay: var(--delay, 0s);
}
@keyframes wiggle{
    98%{transform: translateY(0);}
    99%{transform: translateY(-25%);}
    100%{transform: rotate(0deg);}
}
header > nav > a:nth-child(2) {--delay: 159ms}
header > nav > a:nth-child(3) {--delay: 300ms}
header > nav > a:nth-child(4) {--delay: 450ms}
header > nav > a:nth-child(5) {--delay: 600ms}

header > nav > a{
    transition: transform 1s ease;
}
header > nav > .active{
    color: azure;
    animation: none;
    pointer-events: none;
}
header > nav > a:hover{
    transform: scale(1.1);
    color: azure
}

header > div{
    justify-self: right;
    display: grid;
    grid-template-columns: 20ch 3em;
    align-items: center;
    background-size: cover;
}

header > div > *{
    width: 100%;
}

@media screen and (width < 90rch){
    header{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    header > nav::before, header > nav::after{
        content: "-";
    }
    header > div{
        justify-self: center;
        grid-row: 1;
    }


    @media screen and (width < 60rch) {
        header > nav::before, header > nav::after{
            content: none;
        }
        header > nav{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
        header > div{
            grid-template-columns: 1fr;
        }
        header > div > img{
            position: fixed;
            opacity: 0;
        }
        header > div > h1{
            justify-items: center;
        }


        @media screen and (width < 35rch) {
            header > nav{
               grid-template-columns: 1fr;
            }
            header > div{
                grid-template-columns: 10rch;
            }
            header > div > img{
                position: static;
                opacity: 1;
            }
            header > div > h1{
                position: fixed;
                opacity: 0;
            }
        }
    }
}


main{
    display: grid;
    grid-template-rows: minmax(32vh, auto);
    grid-template-columns: 1fr;
}



section{
    width: 65rch;
    justify-self: center;
    margin-bottom: 1rem;
    padding-inline: 1rch;
}

section > *{
    grid-column: 2;
}

section h1{
    font-size: 2.2rem;
}

section .infocontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: small;
}

@media screen and (width < 70rch){
    section .infocontainer{
        grid-template-columns: 1fr;
    }
}

section .infocontainer div{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-inline: 1rch;
}

@media screen and (width > 70rch){
    section .infocontainer > :nth-child(2n){
    border-left: 2px solid dimgray;
    }
}

section .infocontainer div > p{
    margin: 0;
    line-height: 2;
}

section .infocontainer div :first-child{
    font-weight: bold;
}

section .infocontainer div :first-child::after{
    content: ":  ";
    white-space: pre;
}


article{
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 1fr 67rch 1fr;
    grid-auto-rows: auto;
}

article > *{
    grid-column: 2;
    margin-inline: 1rch;
    margin-block: 0;
    margin-top: 0.5rem;
}

article h1{
    font-size: 2rem;

}

article p{
    line-height: 1.5;
}

article a{
    color: gray;
    text-decoration: none
}

article a::after{
    content: " ↗";
}

article a:hover{
    color: azure;
    text-decoration: underline solid;
}

aside{
    margin: 0;
    color: darkgray;
    grid-column: 3;
    font-size: small;
    padding-inline: 1ch;
    max-width: 30rch;
    line-height: 1.2;
    padding-top: 0.75rem;
}

aside p{
    display: inline;
    line-height: 1;
}

aside p::before{
    content: "→ ";
}

@media screen and (width < 105rch) {
    aside{
        grid-column: 2;

    }
    aside p::before{
        content: "⤷ ";

    }
}

@media screen and (width < 70rch){
    article, section{
        justify-self: center;
        grid-template-columns: 1fr;
        width: 90%;
    }
    @media screen and (width < 50rch) {
        :root{
            font-size: small;
        }
    }
}