@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: black;
    color: azure;
    font-family: montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header{
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
    background: red;
}
header *{
    line-height: 1;
    margin: 0;
    align-self: center;
}
header div{
    justify-self: end;
    display: grid;
    grid-template-columns: auto 5ch;
}
header nav{
    display: grid;
    grid-auto-columns: auto;
}
header div img{
    width: 100%
}

@media (width < 80rch) {
    header{
        background-color: hotpink;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    header *{
        justify-self: center;
    }
    header div{
        grid-row: 1;
        justify-self: center;
    }
}

main{
    background-color: green;
    min-height: 20rem;
}

