.projects > a > span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.idea{
    background-color: rgb(195, 0, 195);
    border: 1px solid purple;
}
.pending{
    background-color: rgb(198, 198, 198);
    border: 1px solid gray;
}
.developing{
    background-color: rgb(0, 207, 0);
    border: 1px solid green;
}
.parked{
    background-color: rgb(205, 133, 0);
    border: 1px solid rgb(123, 80, 0);
}
.public{
    background-color: rgb(130, 0, 0);
    border: 1px solid rgb(207, 0, 0);
}
.archived{
    background-color: rgb(0, 0, 214);
    border: 1px solid rgb(0, 0, 144);
}
