:root{
    --layer1: #394359;
    --layer1accent: #556280;

    --layer2: rgb(43, 56, 82);
    --layer2accent: rgb(94, 120, 174);

    --themecolor: #3566c9;
    --lightthemecolor: #5880cf;

    --contrast: var(--themecolor)
    --nocontrast: unset;
}

body{
    margin: 50px;
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    font-size: medium;
    color: aliceblue;
    background: linear-gradient(0deg, #18212C 0%, var(--themecolor) 30%, #18212C 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header h1{
    display: flex;
}
header a{
    color: gray;
    position: relative;
}
header a::after{
    content: "⤷ " attr(destination);
    font-size: small;

    position: absolute;
    top: 115%;
    text-wrap: nowrap;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--layer1);
    padding-right: 5px;
    padding-left: 5px;
    border: 2px solid var(--layer1accent);
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;

}
header a:hover::after{
    color: aliceblue;
    opacity: 1;
}
