:root{
    --layer1: #434e68;
    --layer1accent: #556280;

    --layer2: rgb(43, 56, 82);
    --layer2accent: rgb(94, 120, 174);
}

body{
    margin: 50px;
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    font-size: medium;
    color: aliceblue;
    background: linear-gradient(0deg, #18212C 0%, #3D5FA4 40%, #18212C 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
