nav{
    color: gray
}
nav *{
    transition: transform 0.2s ease;
    cursor: pointer;
}
nav *:hover{
    transform: scale(1.2);
}
nav .active{
    position: relative;
    color: var(--color);
    transform: scale(1);
}