:root{
    --background: rgb(20, 20, 20);
    --color: aliceblue;
    --inactivelink: rgb(98, 102, 105);
    --layerone: rgb(50, 50, 50);
    --layeroneborder: rgb(75, 75, 75);
    --blue: rgb(0, 147, 157);
    --green: rgb(0, 177, 109);
}
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    color: var(--color);
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: large;
}

#blobCanvas{
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    z-index: -1;
}