:root{
    --headerbackground: gray;
    --headerborder: rgb(44, 44, 44);
    --mainbackground: rgb(59, 54, 54);
    --themecolor: blue;
    --themecolorlight: lightblue;
    --textcolor: aliceblue;
}
html, body{
    height: 100%;
    margin: 0;
}
body{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: var(--textcolor);
    background: var(--mainbackground);
    
}
header{
    background: var(--headerbackground);
    display: grid;
    grid-template-columns: 10% 1fr;
    align-items: center;
    gap: 4%;
    padding-left: 1%;
    border-bottom: 2px solid var(--headerborder);
}
.imgH1{
    display: flex;
    align-items: center;
    gap: 5%;
}
.imgH1 img{
    width: 50px;
    height: 50px;
}
.buttonpanel{
    display: flex;
    gap: 2%;
}
.buttonpanel a{
    text-decoration: none;
    color: var(--textcolor);
    background-color: var(--themecolor);
    border: 2px solid var(--themecolorlight);
    border-radius: 10px;
    transition: transform 0.2s ease;
}
.buttonpanel a:hover{
    transform: scale(1.1);
}
.buttonpanel a h2{
    margin: 0;
    line-height: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
main{
    width: 50%;
    top: 15%;
    justify-self: center;
    position: absolute;
    background: rgb(159, 156, 156);
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid var(--headerborder);
    border-radius: 10px;
    height: fit-content;
    padding-bottom: 100px;
}