:root{
    --color: aliceblue;
    --linkcolor: aliceblue;
    --headerbackground: rgb(69, 69, 92);
    --background: rgb(43, 43, 56);
}
body{
    font-family: "Montserrat";
    font-size: medium;
    margin: 0;
    background: var(--background);
    }
    main, header{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}