
article, section{
    text-align: left;
}
article{
    display: grid;
    grid-template-columns: 65ch 35ch;
    gap: 0;
}
article > *{
    grid-column: 1;
}
aside{
    grid-column: 2;
    color: gray;
    font-size: small;
}
aside img{
    height: 100%;
}