
article, section{
    text-align: left;
}
article{
    display: grid;
    grid-template-columns: 65ch 1fr;
    align-items: stretch;
}
article > *{
    grid-column: 1;
}
aside{
    grid-column: 2;
    color: gray;
}