.loader{
    background-color: rgb(10, 10, 10);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    justify-items: center;
    align-content: center;
}
.loader img{
    display: block;
    height: 1.5em;
}

@keyframes fade{
    from{opacity: 1;}
    to{opacity: 0;}
}