section{
    font-size: small;
}
.infocontainer{
    display: grid;
    grid-template-columns: auto 1fr;
}
.infocontainer .info:nth-of-type(even){
    grid-column: 2;
    border-left: 2px solid gray;
    padding-left: 1ch;
}
.infocontainer .info:nth-of-type(odd){
    padding-right: 1ch;
}
.info{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1ch;
    align-items: center;
    max-width: 1fr;
    width: auto;
}
.info *{
    display: inline;
    margin: 0.25em;
}