
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(header.css);



:root{
    --text_color: azure;
}



html{
    font-family: montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400, normal;
    background-color: black;
    color: azure;
}



body{
    margin: 0;
}


header, main{
    width: 80ch;
    justify-self: center;
}