.content{
    width: auto;
}
.bibliotek{
    display: flex;
    gap: 50px;
}
.bibliotek a{
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    width: 300px;
    height: calc(300px*(10/16));

    align-items: end;

    border-radius: 20px;

    display: flex;
    text-decoration: none;
    border: 2px solid var(--layeroneborder);

    color: var(--color);

    overflow: hidden;
    transition: background-position 5s ease;
}
.bibliotek a > div, .ozzy > div{
    width: 100%;
    padding: 10px;
}
.bibliotek a div h2, .bibliotek a div p, .ozzy div h2, .ozzy div p{
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.bibliotek a div h2, .ozzy div h2{
    line-height: 1;
}

.standard:hover{
    background-position: bottom;
    text-decoration: underline;
}
.no-standard:hover{
    background-position: center;
    text-decoration: underline;
}
.ozzy{
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: calc(300px*(10/16));
    align-items: end;
    border-radius: 20px;
    display: flex;
    text-decoration: none;
    color: var(--color);
    border: 2px solid var(--layeroneborder);
    overflow: hidden;
    transition: background-position 2s ease;
}
.ozzy:hover{
    background-position: bottom;
    text-decoration: underline;
}