main{
    width: 100%;
    padding-top: 5rem;
}
section{
    justify-self: center;
    margin-bottom: 5em;
    width: 65ch;
}
@media screen and (max-width: 400px){
    section{
        margin-bottom: 2em;
        width: 80%;
    }
}

section h1{
    margin-bottom: 2rem;
}
section h2{
    margin-top: 2rem;
    margin-bottom: 0;
    line-height: 1;
}
section h3{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
section p{
    margin-top: 0;
    line-height: 1.5;
    word-spacing: 0.1rem;
}
section h1{
    display: flex;
    align-items: center;
    gap: 1rem;
}
section h1 img{
    width: 2em;
}
section p a{
    color: var(--inactivelink);
    text-decoration: none;
}
section p a:hover{
    color: var(--color);
    text-decoration: underline;
}
.shaded{
    color: var(--inactivelink);
}