main{
    width: 100%;
    padding-top: 5rem;
}
section{
    justify-self: center;
    width: 65ch;
    margin-bottom: 5em;
}
section h1{
    margin-bottom: 2rem;
}
section h2{
    margin-bottom: 0;
    line-height: 0;
}
section p{
    line-height: 2;
}