nav{
    display: grid;
    grid-template-columns: 40px repeat(6, 105px);
    align-items: center;
    max-height: 50px;
    padding-left: 10px;
}
nav img{
    width: 40px;
}
nav a{
    justify-items: center;
    align-items: center;
    width: 100%;
    color: var(--inactivelink);
    text-decoration: underline;
    text-decoration-color: var(--background);    
}
nav a p{
    transition: text-decoration-color 0.5s ease, transform 0.2s ease, color 0.5s ease;
}
nav a:hover p{
    transform: scale(1.1);

    color: var(--color);
}

.active{
    color: var(--color);
}